<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>SaleFilter</filter-name>
        <filter-class>filter.SaleFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MarketingFilter</filter-name>
        <filter-class>filter.MarketingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SaleManagerFilter</filter-name>
        <filter-class>filter.SaleManagerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MarketingFilterV2</filter-name>
        <filter-class>filter.MarketingFilterV2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MarketingFilterV2</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaleManagerFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MarketingFilter</filter-name>
        <url-pattern>/listpostmarketing</url-pattern>
        <url-pattern>/addpostmarketing.jsp</url-pattern>
        <url-pattern>/viewpostmarketing</url-pattern>
        <url-pattern>/editpostmarketing</url-pattern>
        <url-pattern>/productlist</url-pattern>
        <url-pattern>/add-product.jsp</url-pattern>
        <url-pattern>/viewproduct</url-pattern>
        <url-pattern>/editproduct</url-pattern>
        <url-pattern>/addslider.jsp</url-pattern>
        <url-pattern>/sliderlist</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaleFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>sliderlist</servlet-name>
        <servlet-class>user_controller.sliderlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingList</servlet-name>
        <servlet-class>admin_controller.SettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>admin_controller.AdminUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingList</servlet-name>
        <url-pattern>/settinglist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/adminuser</url-pattern>
    </servlet-mapping>
</web-app>
